html {
    font-size: 15px;
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: #000f1a !important;
    margin: 0;
    font-size: 16px;
    /* color: #6b6b6b; */
    color: white !important;
    font-weight: 300;
    line-height: 1.75;
}

.navbar-brand {
    font-size: 20px;
    color: white !important;
}

.navbar-toggler {
    border: 0px solid transparent;
}

#main-panel {
    background-color: #323232;
    color: rgb(228, 228, 228);
}

#footer>a {
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
}

#footer>a:hover {
    text-decoration: none;
    color: #ff6699;
    transition: 0.5s;
}

#footer {
    position: absolute;
    bottom: 0;
    padding-left: 3%;
}