@media screen and (min-width: 1023px)  {
    .container {
        max-width: 50% !important;
    }

}

.container {
    display: grid;
    grid-template-columns: 65% 30%;
}


.work {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3;
    padding-right: 3%;
}

.about {
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;

    color: rgb(73, 72, 72);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    padding-bottom: 10%;
}

.projects {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 3; 
    grid-row-end: 4;
    padding-right: 3%;
}

.extras {
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3;
}

h3 {
    color: cornflowerblue;
}

.button {
    background-color: #ff6699;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    pointer-events: none;
  }

  .about>a, .job-link>a, .job-desc>a {
      text-decoration: none;
      color: rgb(73, 72, 72);
      font-family: Arial, Helvetica, sans-serif;
  }

  .about>a:hover, .job-link>a:hover, .job-desc>a:hover{
    text-decoration: none;
    color: #ff6699;
    transition: 0.5s;
  }

  .fab, .far, .fas {
      color: rgb(134, 134, 134);
  }

  .projects>.job, .work>.job {
      padding-top: 2%;
      padding-bottom: 3%;
  }

  .job>.job-place {
      font-size: 1.2em;
  }
